body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background: lightpink;
}

h1 {
  margin-bottom: 70px;
  color: rgb(253, 51, 145);
}

textarea {
  width: 600px;
  height: 440px;
  border: 1px solid rgb(253, 51, 145);
  border-radius: 7px;
  color: lightcoral;
  padding: 20px;
}

button {
  margin-top: 10px;
  width: 100px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid rgb(253, 51, 145);
  background: white;
  text-align: center;
  color: rgb(253, 51, 145);
}