body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background: lightpink;
}

#nav {
  display: flex;
  justify-content: space-between;
}

#back {
  background: rgb(253, 51, 145);
  color: white;
  border: 1px solid white;
}

h1 {
  margin-bottom: 70px;
  color: rgb(253, 51, 145);
  text-align: center;
}

textarea {
  width: 600px;
  height: 440px;
  border: 1px solid rgb(253, 51, 145);
  border-radius: 7px;
  color: lightcoral;
  padding: 20px;
}

button {
  margin-top: 10px;
  width: 100px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid rgb(253, 51, 145);
  background: white;
  text-align: center;
  color: rgb(253, 51, 145);
}

#buttons {
  display: flex;
  gap: 8px;
}

input {
  display: flex;
  width: 300px;
  height: 40px;
  background: white;
  color: lightcoral;
  border: 1px solid rgb(253, 51, 145);
  border-radius: 8px;
  padding: 8px;
  padding-left: 10px;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid rgb(253, 51, 145);
}

#notes {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 600px;
  color: lightcoral;
}

tbody {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#edit-btn {
  align-items: center;
  color: white;
  background: lightpink;
  padding: 8px;
}

tr {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}